<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>A6Cutter</string>
	<key>CFBundleExecutable</key>
	<string>A6Cutter</string>
	<key>CFBundleIdentifier</key>
	<string>Vejlupek-s.r.o..A6Cutter</string>
	<key>CFBundleName</key>
	<string>A6Cutter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>v1.0.29</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>c6ccbb5</string>
	<key>GitHash</key>
	<string>c6ccbb50a317ad9e43c96c4e3d501b47081b49b8</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 Mario Vejlupek. All rights reserved.</string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUCheckInterval</key>
	<integer>86400</integer>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableAutomaticDowngrades</key>
	<false/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableRelaunchTool</key>
	<true/>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/devopsmariocom/A6Cutter/releases.atom</string>
	<key>SUPublicEDSAKey</key>
	<string>placeholder-key-will-be-generated</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUUpdateCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
